#jinja2: lstrip_blocks: "False", trim_blocks: "False", rstrip_blocks: "False"
# =====================================================================
# FILE GENERATED AUTOMATICALLY WITH THE CONFIGURATION MANAGEMENT TOOL
# THIS FILE SHOULD NOT BE EDITED BY HAND
# =====================================================================

version: '3'

services:

  {{ docker_application_name }}:
    container_name: {{ docker_application_name }}
    image: {{ docker_image_name }}:{{ docker_image_tag }}
    {% if docker_user is not none %}
    user: {{ docker_user }}
    {% endif %}
    {% if docker_command is not none and docker_commands|length > 0 %}
    command:
    {% for command in docker_commands %}
        - {{ command }}
    {% endfor %}
    {% endif %}
    {% if docker_entrypoint is not none and docker_entrypoints|length > 0 %}
    entrypoint:
    {% for entrypoint in docker_entrypoints %}
        - {{ entrypoint }}
    {% endfor %}
    {% endif %}
    {% if docker_ports is defined and docker_ports|length > 0 %}
    ports:
    {% for port in docker_ports %}
        - {{ port }}
    {% endfor %}
    {% endif %}
    {% if docker_volumes is defined and docker_volumes|length > 0 %}
    volumes:
        {% if named_volume_entries is defined and named_volume_entries is not none %}
        {% for named_volume_entry in named_volume_entries %}
        - {{ docker_application_name + "-" if named_volume_entry.create is not defined else ""}}{{ named_volume_entry.source }}:{{ named_volume_entry.destination }}
        {% endfor %}
        {% endif %}
        {% if bound_volume_entries is defined and bound_volume_entries is not none %}
        {% for bound_volume_entry in bound_volume_entries %}
        {% if bound_volume_entry.directory %}
        - {{ '' if bound_volume_entry.external else './volumes/' }}{{ bound_volume_entry.source }}:{{ bound_volume_entry.destination }}
        {% else %}
        - {{ '' if bound_volume_entry.external else './volumes/' }}{{ bound_volume_entry.source }}/{{ bound_volume_entry.file }}:{{ bound_volume_entry.destination }}
        {% endif %}
        {% endfor %}
        {% endif %}
    {% endif %}
    {% if docker_labels is defined and docker_labels|length > 0 %}
    labels:
        {% for docker_label in docker_labels %}
        - "{{ docker_label }}"
        {% endfor %}
    {% endif %}
    {% if docker_networks is defined and docker_networks|length > 0 %}
    networks:
        {% for docker_network in docker_networks %}
        - {{ docker_network.name }}
        {% endfor %}
    {% endif %}
    {% if docker_environment_variables is defined and docker_environment_variables|length > 0 %}
    environment:
    {% for variable in docker_environment_variables %}
        {{ variable.name }}: {{ variable.value | indent(12) }}
    {% endfor %}
    {% endif %}
    {% if docker_extra_hosts is defined and docker_extra_hosts|length > 0 %}
    extra_hosts:
    {% for host in docker_extra_hosts %}
        - {{ host }}
    {% endfor %}
    {% endif %}

{% if named_volume_entries is defined and named_volume_entries is not none and named_volume_entries %}
volumes:
{% for named_volume_entry in named_volume_entries %}
    {{ docker_application_name + "-" if named_volume_entry.create is not defined else ""}}{{ named_volume_entry.source }}:
        external: true
{% endfor %}
{% endif %}

{% if docker_networks is defined and docker_networks|length > 0 %}
networks:
    {% for docker_network in docker_networks %}
    {% if docker_network.mode == 'default' %}
    {{ docker_network.name }}:
        external: false
    {% endif %}
    {% if docker_network.mode == 'create' %}
    {{ docker_network.name }}:
        external: true
    {% endif %}
    {% if docker_network.mode == 'join' %}
    {{ docker_network.name }}:
        name: {{ docker_network.name }}
        external: {{ docker_network.external | default('true') }}
    {% endif %}
    {% endfor %}
{% endif %}
