#jinja2: lstrip_blocks: True
# =====================================================================
# FILE GENERATED AUTOMATICALLY WITH THE CONFIGURATION MANAGEMENT TOOL
# THIS FILE SHOULD NOT BE EDITED BY HAND
# =====================================================================

[Unit]
Description={{ application_name }}
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure
RestartSec=10
WorkingDirectory=/opt/{{ workspace }}/apps/{{ application_name }}
EnvironmentFile=/etc/environment
ExecStartPre=/usr/local/bin/docker-compose pull
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose stop -v
ExecStopPost=/usr/local/bin/docker-compose kill
ExecStopPost=/usr/local/bin/docker-compose rm --force

[Install]
WantedBy=multi-user.target
